<div class="container">
    <article class="about-section">
        <h1>About</h1>
        <img src="https://www.sheppardsoftware.com/braingames/images/brain_sweat2.gif" />
        <p>A game composed a minigames designed to exercise the brain and improve skills. <br /> The users can also compete in mutiplayer games and practice to rank higher among other players.</p>
    </article>
    <app-login-menu></app-login-menu>
    <section class="leaderboard-section">
        <h1>Leaderboard</h1>
       
    </section>
</div>