<head>
    <div class="header">
        <h1>Brain Games</h1>
        <h2>Welcome to the Game Menu!</h2>
    </div>
</head>
<h1>Brain Games</h1>
<body>
    <div class="Game-Wrapper">
        <div class="nested">
            <div class="game">
                <h3>Meditation</h3>
                <hr>
                <div class="game-pic">
                    <img src="assets/img/GamePlaceholder.png" class="image" />
                    <div class="middle"><button class="button1" [routerLink]="['/meditation']">Play</button><button class="button1">Leaderboards</button></div>
                </div>
                <p>Game Description 1</p>
                <div class="game-description">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis, fugit!</p>
                </div>
            </div>
            <div class="game">
                <h3>Solitare</h3>
                <hr>
                <div class="game-pic">
                    <img src="assets/img/GamePlaceholder.png" class="image" />
                    <div class="middle"><button class="button1">Play</button><button class="button1">Leaderboards</button></div>
                </div>
                <p>Game Description 2</p>
                <div class="game-description">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis, fugit!</p>
                </div>
            </div>
            <div class="game">
                <h3>Jenga</h3>
                <hr>
                <div class="game-pic">
                    <img src="assets/img/GamePlaceholder.png" class="image" />
                    <div class="middle"><button class="button1">Play</button><button class="button1">Leaderboards</button></div>
                </div>
                <p>Game Description 3</p>
                <div class="game-description">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis, fugit!</p>
                </div>
            </div>
            <div class="game">
                <h3>Timber</h3>
                <hr>
                <div class="game-pic">
                    <img src="assets/img/GamePlaceholder.png" class="image" />
                    <div class="middle"><button class="button1">Play</button><button class="button1">Leaderboards</button></div>
                </div>
                <p>Game Description 4</p>
                <div class="game-description">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis, fugit!</p>
                </div>
            </div>
            <div class="game">
                <h3>Space Lazers</h3>
                <hr>
                <div class="game-pic">
                    <img src="assets/img/GamePlaceholder.png" class="image" />
                    <div class="middle"><button class="button1">Play</button><button class="button1">Leaderboards</button></div>
                </div>
                <p>Game Description 5</p>
                <div class="game-description">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis, fugit!</p>
                </div>
            </div>
            <div class="game">
                <h3>Word Hunt</h3>
                <hr>
                <div class="game-pic">
                    <img src="assets/img/GamePlaceholder.png" class="image" />
                    <div class="middle"><button class="button1">Play</button><button class="button1">Leaderboards</button></div>
                </div>
                <p>Game Description 6</p>
                <div class="game-description">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis, fugit!</p>
                </div>
            </div>
        </div>
    </div>
</body>
